<div class="page-header"><h1>Carro de Compra</h1></div>
<% if @shops != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Descuento</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| -%>
    <tr>
      <td><%= shop.product.Codigo %></td>
      <td><%= shop.product.Nombre %></td>
      <% if Discount.find_by_user_id_and_product_id(current_user.id, shop.product.ID) != nil %>
      <td>20%</td>
      <% else %>
      <td>-</td>
      <% end %>
      <% if shop.product.discounts.find_by_user_id(current_user.id) == nil %>
      <td>$<%= shop.product.Precio %></td>
      <% else %>
      <td>$<%= shop.percentprice(shop.product.Precio) %></td>
      <% end %>
      <td><%= link_to 'Quitar', shop, :confirm => "¿Estás seguro que quieres eliminar este producto de tu carro de compras?", :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end -%>
    <tr>
      <td></td>
      <td><b>Total</b></td>
      <td></td>
      <td><b>$<%= @total %></b></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="pull-right">
  <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_path %>
</div>
<% else %>
<div>
Tu carro de compras está vacío
</div>
<% end %>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<div class="page-header"><h1>Historial de Compra</h1></div>
<% if @histories != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Código</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Fecha de Compra</th>
    </tr>
  </thead>
  <% @invoices.each do |invoice| -%>
  <tbody>
    <% invoice.histories.each do |history| %>
    <tr>
      <td><%= invoice.id %></td>
      <td><%= history.product_cod %></td>
      <td><%= history.product_name %></td>
      <td>$<%= history.product_price %></td>
      <td><%= history.created_at %></td>
    </tr>
    <% end %>
  </tbody>
  <% end -%>
</table>
<% else %>
<div>
Hasta ahora no ha realizado ninguna compra.
</div>
<% end %>
