<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @shop.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @shop.product_id %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
