<div class="page-header"><h1>Biblioteca</h1></div>
<% if @histories != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descargar</th>
    </tr>
  </thead>
  <% @invoices.each do |invoice| -%>
  <tbody>
    <% invoice.histories.each do |history| %>
    <tr>
      <td><%= history.product_name %></td>
      <td><%= link_to(raw('Descargar'), 'http://uncledolan.inf.utfsm.cl/assets/'+history.product_name+'.exe', :class => "btn btn-success") %></td>
    </tr>
    <% end %>
  </tbody>
  <% end -%>
</table>
<% else %>
<div>
Hasta ahora no ha realizado ninguna compra de juegos.
</div>
<% end %>
