<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <legend>Iniciar Sesión</legend>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email, :placeholder => "user@example.com" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Entrar", { :class => "btn btn-primary pull-center"  } %>
    </div>
  </fieldset>
<% end %>
<%= render "links" %>
