<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ID, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ID, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Codigo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Codigo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :Descripcion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Plataforma, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Plataforma, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Precio, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :Precio, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Img, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Img, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
