<div class="page-header">
  <h1>Productos</h2>
</div>
<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>
<ul class="thumbnails">
  <% @products.each do |product| -%>
  <li class="span4">
    <div class="thumbnail">
      <a href=<%= product_path(product) %> class="thumbnail">
        <img src="data:image/jpeg;base64,<%= product.Img %>" alt="">
      </a>
      <div class="caption">
        <h4>
        <%= link_to product.Nombre, product %>
        <% if product.Plataforma == "PC" %>
          <span class="label label-inverse">PC</span>
        <% else %>
          <span class="label label-info">PS3</span>
        <% end %></h4>
        <p>Precio: $<%= product.Precio %></p>
      </div>
    </div>
  </li>
  <% end -%>
</ul>
<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>
