<div id="fb-root"></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>

<script> 
      FB.init({appId: "299578110137980", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          message: 'He comprado un videojuego en UncleDolan Gaming Shop!',
          name: 'UncleDolan Gaming Shop',
          caption: 'He comprado un video juego en UncleDolan Gaming Shop!',
          description: (
           'UncleDolan es una tienda online de video juegos  ' +
           'en el que podrás encontrar las mejores ofertas. ' +
           'Compra pls.'
          ),
          link: 'http://uncledolan.inf.utfsm.cl',
          picture: 'http://distilleryimage1.instagram.com/7186c71692aa11e1ab011231381052c0_7.jpg'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
         if (response && response.post_id) {
           var id = <%= current_user.id %>;
           var product = <%= @product.ID %>;
           var dir = 'http://uncledolan.inf.utfsm.cl/discount/adddiscount/?user='+id+'&product='+product;
           window.location = dir;
         } else{
           alert('El descuento no se ha obtenido!');
         };
        }

        FB.ui(obj, callback);
      }
    
</script>


<div class="page-header">
  <h1><%= @product.Nombre %></h1>
</div>

<div class="row">
  <div class="span4">
    <img src="data:image/jpeg;base64,<%= @product.Img %>" alt=""><br /><br />
    <p><span class="label label-info">¡Descuento!</span> <b>Si compartes este producto en tu Facebook, obtendrás un ¡20% de descuento!</b></p>
    <p>Compartir:</p>
    <p><%= link_to image_tag("facebook.jpg", :size => "40x40"), '#', :onclick => 'postToFeed(); return false;' %></p>
  </div>
  <div class="span4">
    <table class="table">
      <tbody>
        <tr>
          <th>Código:</th>
          <td><%= @product.Codigo %></td>
        </tr>
        <tr>
          <th>Nombre:</th>
          <td><%= @product.Nombre %></td>
        </tr>
        <tr>
          <th>Plataforma:</th>
          <td><%= @product.Plataforma %></td>
        </tr>
        <tr>
          <th>Descripción:</th>
          <td><%= @product.Descripcion %></td>
        </tr>
        <tr>
          <th>Precio:</th>
          <td>$<%= @product.Precio %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to raw('<i class="icon-shopping-cart icon-white"></i> Añadir al carro'), { :controller => 'shops', :action => 'create', :user_id => current_user.id, :product_id => @product.ID }, :class => 'btn btn-success pull-right', :method => :post %>
  </div>
</div>
